

h1 {
    color: rgba(0, 255, 170, 0.781);
    font-family: 'Rubik', sans-serif;
    text-align: center;
    font-weight: 600;
}

h2 {

    color: rgba(0, 255, 170, 0.781);

}

#links {
    color: rgb(0, 225, 255);
    text-decoration: none;
    
}


body {

    font-family: 'Rubik', sans-serif;

}
